a.out.dSYM
.DS_Store
*.o
*.orig
.deps
Makefile
Makefile.in
autom4te.cache
config.log
config.status
config.sub
configure
stamp-h1
config.h
config.guess
depcomp
install-sh
missing

netstat
netstat.1.gz

